apiVersion: v1
kind: ConfigMap
metadata:
  name: ghost-init
  namespace: ghost
data:
  wait-for-postgres.sh: |
    #!/bin/sh
    until pg_isready -h postgres.postgres.svc.cluster.local -p 5432 -U postgres; do
      echo "Waiting for PostgreSQL..."
      sleep 2
    done
    echo "PostgreSQL is ready!"
  wait-for-redis.sh: |
    #!/bin/sh
    until redis-cli -h redis.redis.svc.cluster.local -p 6379 ping; do
      echo "Waiting for Redis..."
      sleep 2
    done
    echo "Redis is ready!"

