apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
  namespace: podinfo
spec:
  replicas: 1  # Kaç tane kopya çalışsın? (Şimdilik 1 yeterli)
  selector:
    matchLabels:
      app: podinfo
  template:
    metadata:
      labels:
        app: podinfo
    spec:
      containers:
        - name: podinfo
          image: ghcr.io/stefanprodan/podinfo:latest # Kullanacağımız hazır imaj
          ports:
            - containerPort: 9898 # Uygulamanın kendi iç portu